@font-face {
  font-family: "inter";
  src: local("inter") url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "inter", sans-serif;
  font-size: 15px;
}
/*-------------------------------------header------------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}
a {
  margin: 22px;
  text-decoration: none;
  color: hsl(233, 8%, 79%);
}
/*-------------------------------------header------------------------------------------*/
/*--------------------------------------main-------------------------------------------*/
main {
  display: flex;
}
main p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: hsl(236, 13%, 42%);
}
.left {
  width: 65%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.web-image {
  width: 100%;
  margin: 10px;
}
figcaption {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  color: hsl(240, 100%, 5%);
}
.detail {
  width: 50%;
  line-height: 1.5;
  font-weight: 400;
}
button {
  margin-top: 50px;
  width: 150px;
  height: 40px;
  color: hsl(36, 100%, 99%);
  letter-spacing: 3px;
  background-color: hsl(5, 85%, 63%);
  border: none;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35%;
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding: 25px;
  margin: 25px;
}
main h2 {
  font-size: 2.5rem;
  color: hsl(35, 77%, 62%);
  margin-bottom: 20px;
}
main h3 {
  font-size: 1.3rem;
}
.line {
  border: 1px solid white;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*--------------------------------------main-------------------------------------------*/
/*-------------------------------------footer------------------------------------------*/
footer {
  display: flex;
}
footer img {
  width: 50%;
  height: 70%;
}
article {
  width: 30%;
  display: flex;
  margin: 10px;
}
section {
  margin: 10px;
  padding: 5px;
}
footer h3 {
  font-size: 1.3rem;
  color: hsl(233, 8%, 79%);
}
h5 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 800;
  color: hsl(240, 100%, 5%);
}
footer p {
  font-size: 12px;
  color: hsl(236, 13%, 42%);
}
/*-------------------------------------footer------------------------------------------*/
